/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styles */
body {
    font-family: Arial, sans-serif;
    overflow: hidden; /* 隱藏卷軸 */
}

/* Chat container */
#chat-container {
    width: 100%; /* 聊天室滿版 */
    height: 100vh; /* 滿版高度 */
    display: flex;
    flex-direction: column;
}

/* Chat header */
#chat-header {
    font-size: 24px;
    font-weight: bold;
    color: white;
    text-align: center;
    padding: 20px 0;
    background-color: #0F2540;
}

/* Chat box */
#chat-box {
    flex: 1;
    overflow-y: auto;
    padding: 0 20px; /* 加入左右 padding */
  background-color: #6E75A4;
}

/* Message styles */
.message {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    width: fit-content;
    max-width: 80%;
}

.message.system {
    text-align: center;
    color: #BDC0BA;
    background-color: #6E75A4;
    margin: 0 auto; /* 置中 SYSTEM */
}

.message.user {
    background-color: #d1e7ff;
    align-self: flex-end; /* USER 在右邊 */
    text-align: left;
    margin-left: auto; 
}

.message.other {
    background-color: #e1ffc7;
    align-self: flex-start;
    text-align: left;
}

/* Responsive design */
@media screen and (max-width: 600px) {
    #chat-header {
        font-size: 20px;
    }
}
